// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatar {
  margin-right: 15px;
}
.user-name {
  margin-left: 15px;
}
.status-content {
  margin-left: 10px;
}

.status {
  border-bottom: solid 1px #ccc;
  padding: 10px 0;
}
hr .user-list{
  border-bottom: solid 1px #ccc;
  padding: 10px 0;
}
.status p {
  margin: 4px 0;
}

.status:hover {
  background: #FAFAFA;
}
.status .admin {
  display: none;
}

.status:hover .admin{
  display:  inline;
}

.comment-box {
  background: #AAAAAA;
  width: 300px;
  height: auto;
}